.container{
    width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
}

.card{
    width: calc(100% / 4);
    margin: 25px 25px 50px 25px;
    background-color: dimgrey;
    padding: 15px;
    border-radius: 15px;
    color: white;
}

h3 span{
    font-weight: 400;
    font-size: 18px;
}